* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  font-family: Impact;
  margin-top: 150px;
}
.mainDiv {
  width: 400px;
  height: 300px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 150px;
  background-image: linear-gradient(350deg, #fff, #666, rgb(248, 207, 248));
}
.mainDiv input {
  background-color: #fff;
  margin-top: 50px;
  height: 40px;
  border: none;
  border-radius: 8px;
}
button {
  background-color: skyblue;
  width: 100px;
  height: 30px;
  border-radius: 8px;
}
button:hover {
  background-color: seashell;
}
